<!DOCTYPE>
<html>
    <head>
        <title>Formulaire Ethnies Cites</title>
    </head>
    <body>
        <p>De : {{ email }}</p>
        <p>Bonjour {{ prenom }} {{ nom }} aimerais prendre contact avec vous</p>
        <p>Téléphone : {{ phone }}</p>
        <p>Message : {{ message }}.</p>
    </body>
</html>
